<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contract.user %>
</p>

<p>
  <strong>Property:</strong>
  <%= @contract.property %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
