<%= form_for(@contract_service) do |f| %>
  <% if @contract_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_service.errors.count, "error") %> prohibited this contract_service from being saved:</h2>

      <ul>
      <% @contract_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.text_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :service_type_id %><br>
    <%= f.text_field :service_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
